<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
    <body>
        <h2>Chicken Registration</h2>
        <form action="#" th:action="@{/addchicken}" th:object="${chickenForm}" method="post">
            <label for="brand">Brand</label>
            <input type="text" th:field="*{brand}" id="brand">
            <span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></span>
            <br/>
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <br/>
            <br/>
            <label for="price">Price</label>
            <input type="text" th:field="*{price}" id="price">
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
            <br/>
            <input type="submit" value="Add Chicken">
        </form>
    </body>
</html>